.item:visited{
    text-decoration: none;
}

.menuContainer{
    display: flex;
    flex-direction: row;
    background-color: green;
    padding: 10px;
    height: 20%;
    justify-content: center;
    border-radius: 10px;
}

li{
    display: flex;
    background-color: white;
    align-items: center;
    text-decoration: none;
    margin: 0px;
    height: 5vh;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

li:hover{
    background-color: beige;
}

li.fistItem{
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

li.lastItem{
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.itemName{
    text-decoration: none;
    
}

.itemName:visited{
    text-decoration: none;
    color: black;
}

.menu{
    list-style-type: none;
    display: flex;
    margin: 0px;
    align-self: center;
    justify-content: center;
}
